.bg {
  background-color: rgb(247, 244, 244);
}
.bg:hover {
  background-color: grey;
}
.post {
  top: 22px;
  right: 700px;
  background: transparent;
}
.borde {
  clip-path: circle();
  border: 2px solid red;
}
